.idea/
coverage/
junit*.xml
.github/
docs/
*.log

# Ignore CI package files
output/

# Ignore tests
/test/
*.spec.ts
*.test.ts

# SEA build output
sea/

# Scripts
Taskfile*
examples/
images/
solo-compose/

# Configs
.c8rc.json
.codacy.yaml
.editorconfig
.gitattributes
.mocharc.yaml
.pre-commit-config.yaml
.prettierrc.json
.releaserc
.remarkrc.yml
.semgrep.yaml
c8-nyc-bridge.mjs
codecov.yml
eslint.config.mjs
mocha-multi-reporter.json
ruleset.xml
tsconfig.json
tsconfig-google.json
tsdoc.json
typedoc.json
