{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "target": "es2022",
    "baseUrl": "..",
    "preserveAllComments": true
  },
  "module": {
    "type": "es6"
  },
  "minify": false
}