ingress:
  enabled: false
  hosts:
    - host: "explorer.solo.local"
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: ca-secret-hiero-explorer
      hosts:
        - '{{ index .Values.ingress.hosts 0 "host" }}'
labels:
  solo.hedera.com/testSuiteName: ""
  solo.hedera.com/testName: ""
  solo.hedera.com/testRunUID: ""
  solo.hedera.com/testCreationTimestamp: ""
  solo.hedera.com/testExpirationTimestamp: ""
  solo.hedera.com/testRequester: ""
nodeSelector: {}
tolerations:
  - key: "solo-scheduling.io/os"
    operator: "Equal"
    value: "linux"
    effect: "NoSchedule"
  - key: "solo-scheduling.io/role"
    operator: "Equal"
    value: "network"
    effect: "NoSchedule"
#global:
#  namespaceOverride: "{{ .Values.global.namespaceOverride }}"
# The hedera explorer UI /api url will proxy  all request to mirror node
#
# Without this we would need to expose the mirror node rest API publicly and specify its public url in the network config below
proxyPass:
  /api: "http://{{ .Release.Name }}-rest"

# In the json config below we are using the url as "/", instead of a regular http://mainnet.url
# This makes the explorer UI make a relative request to its own url
# This in combination with proxyPass above saves us the need to expose mirror node URL publicly
config: |
  [
    {
      "name": "localnet",
      "displayName": "LOCALNET",
      "url": "/",
      "ledgerID": "03"
    }
  ]

